{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/williamthome/euneus">>},
    {source_url, <<"https://github.com/williamthome/euneus">>},
    {api_reference, false}
]}.

